{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iQueensu</title>
    <link rel="stylesheet" type="text/css" href="{% static "css\\screen.css" %}"/>
</head>
<body>
    <img src="{% static "images\\screen.png" %}" />
    <p class="post-content">
        <h1 id="iqueensu">iQueensu</h1>
        <h2 id="一个女王大学中文门户网站">一个女王大学中文门户网站</h2>
        <hr/>
        <h3 id="已有功能">已有功能</h3>
        <h4 id="bbs-http-bbs-iqueensu-ca"><a href="http://bbs.iqueensu.ca">BBS</a></h4>
        <hr/>
        <h3 id="作者">作者</h3>
        <ul>
            <li>Sky</li>
            <li>Ricky</li>
            <li>Somion</li>
            <li>DLing</li>
            <li>Parthas</li>
        </ul>
    <p>
</body>
</html>
